body {
    background: whitesmoke;
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
}

.header {
    text-align: center;
}

form {
    width:340px;;
}


.style-form {
    width: 340px;
    margin: 0 auto;
    padding: 30px 80px 30px 80px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1em #CCCCCC;
}
.style-form input[type="text"]:focus,
.style-form input[type="email"]:focus,
.style-form input[type="number"]:focus,
.style-form input[type="time"]:focus,
.style-form select:focus,
.style-form textarea:focus{
    background-color: #b4d6ff;
    border: 1px solid transparent;
    outline: 0;
}   

.styleform label  {
    margin-bottom: 5px;
    font-weight: bolder;
}

.styleform p {
    font-weight: bolder;
}

.style-form input {
    border: 1px solid transparent;
    background: #D7E9FF;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
    box-shadow: 0px;
    border-radius: 0px 20px 20px 20px;
    text-indent: 15px;
    font-size: 1.000em;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #D7E9FF inset;
}

.style-form p {
    margin-bottom: 5px;;
}

section {
    padding: 10px;
}

.style-form select {
    border: 1px solid transparent;
    border-radius: 0px 20px 20px 20px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 40px;
    background: #D7E9FF;
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;    
    width: 330px;
    text-indent: 15px;
    box-shadow: 0px;
}

.style-form select option {
    border-radius: 0px 20px 20px 20px;
    background: #D7E9FF;
    font-size: 16px;    
    width: 330px;
}

.style-form textarea {
    border: 1px solid transparent;
    background: #D7E9FF;
    border-radius: 0px 60px 60px 60px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 40px;
    text-indent: 15px;
    font-size: 16px;;
}


.sctone {
    display: block;
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
    width: 330px;
}


.input {
    font-family: 'Abhaya Libre', serif;
}

.txtarea {
    width: 330px;
    resize: none;
    font-family: 'Abhaya Libre', serif;
}

button {
    font-family: Tahoma;
    font-size: 0.800em;
    font-weight: bolder;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF; 
    border: 1px solid transparent;
    background: #7CC728;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;   
    margin-left: 60%;
    margin-right: 40%;
}

.style-form  button:hover {
    background: #68B113;
    border: 1px solid transparent;
    box-shadow: 0 0 1em #BFE791;
    outline: 0;
}